*{
    margin:0px;
    border:0px;
    padding:0px;
}

body{
    width:900px;
    border:1px solid black;
    display:flex;
    align-items:flex;
}

.top{
    width:900px;
    height:60px;
    display:inline-flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    background-color:white;
    z-index:10;
}

.top>.container{
    display:inline-flex;
    justify-content:space-around;
    align-items:center;
}

.everytime_disappear{
    width:900px;
    height:150px;
    display:flex;
    align-items:flex-end;
    justify-content:flex-start;
}

.everytime_disappear p{
    display:flex;
    align-items:flex-end;
    position:relative;
    left:30px;
}

.sticky{
    position:sticky;
    top:60px;
    left:0px;
    width:900px;
    height:90px;
    display:inline-flex;
    justify-content:space-between;
    align-items:center;
    z-index:11;
    background-color:white;
}

.sticky>.container>p{
    position:relative;
    left:30px;
}

.sticky img{
    position:relative;
    right:30px;
}

.sticky #reading_glass{
    position:relative;
    bottom:10px;
    right:60px;
}

.todays{
    height:450px;
    display:flex;
    position:relative;
    left:30px;
}

.todays>.container{
    width:720px;
    height:400px;
    border:1px solid rgb(184, 175, 175);
    border-radius:30px;
    margin-right:30px;
}

.todaysbutton{
    background-color:lightgray;
    border-radius:20px;
    font-size:35px;
    display:flex;
    justify-content:center;
}

.univ_tab{
    height:200px;
    position:relative;
    left:35px;
}

.univ_tab table{
    text-align:center;
    display:table;
    table-layout:fixed;
}


.containers>.container{
    margin:20px;
    width:850px;
    height:300px;
    border-radius:20px;
    border:1px solid gray;
    display:block;
}

.containers>.container>.contentbox{
    display:flex;
}

.container>.title{
    width:810px;
    font-size:40px;
    font-weight:bold;
    padding:25px;
    display:inline-flex;
    justify-content: space-between;
    /* align-items:center; */
}

.container>p{
    display:inline-flex;
    align-items:center;
}

.more{
    font-size:30px;
    font-weight:lighter
}


.게시판제목{
    font-size:35px;
}

.글내용{
    font-size:25px;
    color:gray;
}

.실시간인기글{
    width:800px;
    height:150px;
}

.실시간인기글_info{
    display:inline-flex;
    font-size:25px;
    margin-left:35px;
}

.실시간인기글_content{
    display:block;
    font-size:25px;
    margin-left:35px;
}

.실시간인기글_bottominfo{
    display:inline-flex;
    font-size:20px;
    margin-left:35px;
}

#판매중인책내용{
    display:inline-flex;
}

.pictureblock{
    width:270px;
    height:370px;
    border:1px solid gray;
    margin-left:10px;
    border-radius:20px;
}











.bottom{
    width:900px;
    height:100px;
    background-color:white;
    position:fixed;
    bottom:0px;
    display:inline-flex;
    justify-content:space-around;
    align-items:center;
    border-top:1px solid rgb(231, 225, 225);
}