<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aquamarine;">
    <h1>TO DO LIST</h1>
    <div>
        <ul>
            {% for post in posts %}
            <li>
                <a href="{% url 'detail' post.pk %}">
                {{ post.title }} {{ post.content }} {{ post.duedate }}</a>}</li>
            <li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'new' %}">할 일 등록하기</a>
</body>
</html>